@font-face {
  font-family: 'Montserrat Regular';
  src: url('./../fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat Bold';
  src: url('./../fonts/montserrat-bold.ttf');
}
@font-face {
  font-family: 'RaleWay Regular';
  src: url('./../fonts/RaleWay-Regular.ttf');
}
@font-face {
  font-family: 'RaleWay Thin';
  src: url('./../fonts/RaleWay-Thin.ttf');
}
@font-face {
  font-family: 'RaleWay Light';
  src: url('../fonts/RaleWay-Light.ttf');
}
@font-face {
  font-family: 'RaleWay ExtraLight';
  src: url('./../fonts/Raleway-ExtraLight.ttf');
}
@font-face {
  font-family: 'RaleWay Bold';
  src: url('./../fonts/RaleWay-Bold.ttf');
}
@font-face {
  font-family: 'RaleWay SemiBold';
  src: url('./../fonts/RaleWay-SemiBold.ttf');
}
@font-face {
  font-family: 'RaleWay Medium';
  src: url('./../fonts/RaleWay-Medium.ttf');
}
